%table
  %thead
    %tr
      %th #
      %th Name
      %th Class
      %th Status
      %th Kills
      %th Deaths
      %th Gold

  %tbody
    - users.each do |user|
      %tr
        %td= user.pid+1
        %td
          = link_to user.name, "/users/#{user.name}"
        %td= user.troll_class
        %td= user.flag
        %td= user.kills
        %td= user.deaths
        %td= user.gold
